<form class="td-form autofill-corrections" (ngSubmit)="onSubmit($event)" (reset)="onReset($event)">
  <mat-form-field appearance="outline">
    <mat-label>First Name</mat-label>
    <input matInput
           #firstName="ngModel"
           ngModel
           required minlength="6"
           name="firstName"
           placeholder="Enter your name">
    <mat-error *ngIf="firstName.hasError('required')">This field is required</mat-error>
    <mat-error *ngIf="firstName.getError('minlength') as minlengthError">This field is required minimum {{ minlengthError.requiredLength }} symbols</mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Last Name</mat-label>
    <input matInput
           #lastName="ngModel"
           ngModel
           minlength="6"
           name="lastName"
           placeholder="Enter your last name">
    <mat-error *ngIf="lastName.getError('minlength') as minlengthError">This field is required minimum {{ minlengthError.requiredLength }} symbols</mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Nickname</mat-label>
    <input matInput
           ngModel
           #nickname="ngModel"
           [wordsBlacklist]="firstName.value"
           required minlength="1" maxlength="25" pattern="^[\w.]+$"
           name="nickname"
           placeholder="Enter your nickname">
    <mat-error *ngIf="nickname.hasError('required')">This field is required</mat-error>
    <mat-error *ngIf="nickname.hasError('pattern')">This field should be matched by pattern</mat-error>
    <mat-error *ngIf="nickname.getError('wordsBlacklist') as wordsBlacklistError">The {{ wordsBlacklistError.bannedWords }} words are banned</mat-error>
    <mat-error *ngIf="nickname.getError('minlength') as minlengthError">This field is required minimum {{ minlengthError.requiredLength }} symbols</mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input matInput
           type="email"
           [ngModelOptions]="{ updateOn: 'blur' }"
           ngModel
           #email="ngModel"
           required email
           uniqueEmail
           name="email"
           placeholder="Enter your email">
    <mat-icon *ngIf="email.pending" matSuffix class="animate-icon-circle-loader" color="accent">autorenew</mat-icon>
    <mat-hint *ngIf="email.pending" class="color-accent">Checking ... </mat-hint>
    <mat-error *ngIf="email.hasError('required')">This field is required</mat-error>
    <mat-error *ngIf="email.hasError('email')">This field should be matched by email pattern</mat-error>
    <mat-error *ngIf="email.hasError('uniqueEmail')">This email is taken</mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Choose a date</mat-label>
    <input matInput
           ngModel
           name="birthday"
           [matDatepicker]="picker">
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <fieldset ngModelGroup="address" class="td-form__address-fieldset">
    <legend>Address</legend>
    <mat-form-field appearance="outline" class="td-form__full-address">
      <mat-label>Full Address</mat-label>
      <input matInput
             ngModel
             name="fullAddress"
             placeholder="Street name and house number">
    </mat-form-field>
    <mat-form-field appearance="outline" class="td-form__city">
      <mat-label>City</mat-label>
      <input matInput
             ngModel
             name="city"
             placeholder="Enter postal code">
    </mat-form-field>
    <mat-form-field appearance="outline" class="td-form__postal-code">
      <mat-label>Post Code</mat-label>
      <input matInput
             ngModel
             name="postalCode"
             type="number" placeholder="Enter postal code">
    </mat-form-field>
  </fieldset>
  <fieldset ngModelGroup="credentials" passwordMatcher class="td-form__password-fieldset">
    <legend>Credentials</legend>
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput
             ngModel
             #password="ngModel"
             required minlength="8"
             name="password"
             autocomplete="new-password"
             type="password"
             placeholder="Password">
      <mat-error *ngIf="password.hasError('required')">This field is required</mat-error>
      <mat-error *ngIf="password.getError('minlength') as minlengthError">This field is required minimum {{ minlengthError.requiredLength }} symbols</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Confirm Password</mat-label>
      <input matInput
             ngModel
             #confirmPassword="ngModel"
             minlength="8"
             name="confirmPassword"
             type="password"
             placeholder="Confirm password">
      <mat-error *ngIf="confirmPassword.hasError('passwordMatcher')">This passwords should match</mat-error>
      <mat-error *ngIf="confirmPassword.getError('minlength') as minlengthError">This field is required minimum {{ minlengthError.requiredLength }} symbols</mat-error>
    </mat-form-field>
  </fieldset>
  <div class="td-form__footer">
    <button type="reset" mat-raised-button>Reset</button>
    <button type="submit" mat-raised-button color="primary">Submit</button>
  </div>
</form>
