<form [formGroup]="form" (ngSubmit)="onSubmit($event)" (reset)="onReset($event)" class="td-form autofill-corrections">
  <ng-container *ngFor="let control of form.controls | keyvalue : comparatorFn(formConfig)">
    <ng-container *ngIf="formConfig[control.key] as controlConfig">
      <ng-container [ngSwitch]="controlConfig.controlType">
        <ng-container *ngSwitchCase="'input'">
          <ng-container *ngTemplateOutlet="inputControlTemplate; context: { $implicit: control, controlConfig }"></ng-container>
        </ng-container>
        <mat-form-field *ngSwitchCase="'date'"
          appearance="outline">
          <mat-label>{{ controlConfig.label }}</mat-label>
          <input matInput
                 [formControlName]="control.key"
                 [matDatepicker]="picker">
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <fieldset *ngSwitchCase="'group'" [formGroupName]="control.key" [class]="controlConfig.htmlClass">
          <legend>{{ controlConfig.label }}</legend>
          <ng-container *ngFor="let nestedControl of control.value | nestedGroupControls | keyvalue : comparatorFn(controlConfig.controls!)">
            <ng-container *ngIf="controlConfig.controls?.[nestedControl.key] as nestedControlConfig">
              <ng-container *ngTemplateOutlet="inputControlTemplate; context: { $implicit: nestedControl, controlConfig: nestedControlConfig }"></ng-container>
            </ng-container>
          </ng-container>
        </fieldset>
        <fieldset *ngSwitchCase="'custom_phones'" [formArrayName]="control.key" [class]="controlConfig.htmlClass">
          <legend>{{ controlConfig.label }} <mat-icon *ngIf="form.controls.phones.length < 5" (click)="onAddPhone($event)" matSuffix color="accent">add</mat-icon></legend>
          <mat-form-field appearance="outline" *ngFor="let phone of form.controls.phones.controls; let index=index">
            <mat-label>Phone #{{ index + 1 }}</mat-label>
              <input matInput
                     [formControlName]="index"
                     placeholder="Enter your phone">
              <mat-icon *ngIf="form.controls.phones.length > 1" (click)="onDeletePhone($event, index)" matSuffix color="warn">delete</mat-icon>
            </mat-form-field>
        </fieldset>
        <fieldset *ngSwitchCase="'custom_skills'" [formGroupName]="control.key" [class]="controlConfig.htmlClass">
          <legend>{{ controlConfig.label }}</legend>
          <ng-container *ngIf="skills$ | async as skills; else skillsLoadingTemplate">
            <mat-checkbox *ngFor="let skill of skills" [formControlName]="skill" color="primary">
              {{ skill | titlecase }}
            </mat-checkbox>
          </ng-container>
        </fieldset>
      </ng-container>
    </ng-container>
  </ng-container>
  <div class="td-form__footer">
    <button type="reset" mat-raised-button>Reset</button>
    <button type="submit" mat-raised-button color="primary">Submit</button>
  </div>
</form>

<ng-template #inputControlTemplate let-control let-controlConfig="controlConfig">
  <input-form-control
    [formControl]="control.value | guardControlInstance"
    [placeholder]="controlConfig.placeholder"
    [autocomplete]="controlConfig.autocomplete!"
    [label]="controlConfig.label"
    [type]="controlConfig.type!">
  </input-form-control>
</ng-template>

<ng-template #skillsLoadingTemplate>
  <span class="color-accent">Skills is loading ...</span><mat-icon matSuffix class="animate-icon-circle-loader" color="accent">autorenew</mat-icon>
</ng-template>
